@font-face {
  font-family: 'XKCD';
  src: url('xkcd-Regular.woff');
}

body {
  text-align: center;
}

ul {
  width: 500px;
  margin: auto;
  text-align: left;
}

fieldset {
  width: 500px;
  margin: auto;
}

fieldset > fieldset {
  width: 400px;
}

.xkcd {
  font-family: 'XKCD';
}

.ott {
  display: none;
}